iframe {
    overflow-clip-margin: content-box !important;
    overflow: clip !important;
    border-width: 0;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 2px;
}

body {
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    user-select: none;
    box-sizing: border-box;
}